<footer class="wrapper">
  <div class="container">
    <div class="left">
      <a href="http://github.com" target="_blank">
        <img src="assets/images/githubSocial.png" alt="">
      </a>
      <a href="mailto:hello@marco-engelhardt.ch">
        <img src="assets/images/emailSocial.png" alt="">
      </a>
      <a href="https://www.linkedin.com/" target="_blank">
        <img src="assets/images/linkedinSocial.png" alt="">
      </a>
      @if(languageService.currentLanguage == 'en'){
      <img src="assets/images/flag_de.svg" alt="" (click)="switchLanguage('de')">
      }@else {
      <img src="assets/images/flag_us.svg" alt="" (click)="switchLanguage('en')">
      }
    </div>
    <div class="right">
      <img src="assets/images/logoInitialWhite.png" alt="">
      <a href="mailto:hello@marco-engelhardt.ch">hello&#64;marco-engelhardt.ch</a>
    </div>
  </div>
  <div class="legalNotice">
    <a href="/imprint" target="_blank">{{"imprint" | translate}}</a>
  </div>
</footer>