<section class="wrapper">
  <!-- <h1>About me</h1> -->
  <h1>{{ 'About me' | translate}}</h1>
  <div class="about">
    <div class="left">
      <p>{{'About Me - Description' | translate}}
        <br>
        <br>
        {{'About Me - Description2' | translate}}
      </p>
      <div class="btnTalk">Let's talk</div>
    </div>
    <div class="aboutPicture">
      <img src="assets/images/profil_aboutme.png" alt="">
      <div class="aboutPictureBorder"></div>
    </div>
  </div>
  <div class="arrow">
    <img src=" assets/images/arrow_left.png" alt="" data-aos="fade-down-left" data-aos-duration="700">
  </div>
</section>