<section class="wrapper">
  <!-- <h1 [@blink]="blinkState ? 'on' : 'off'">About me</h1> -->
  <h1>About me</h1>
  <div class="about">
    <div class="left">
      <p>I am a Front-end developer based in Munich, Germany. I enjoy helping designers and companies bring their ideas
        into real life. I am looking forward to continuing my developer career with a job in a junior web developer
        position.
        <br>
        <br>
        If you think I’d be a good match for your projects, contact me!
      </p>
      <div class="btnTalk">Let's talk</div>
    </div>
    <div class="aboutPicture">
      <img src="assets/images/profil_aboutme.png" alt="">
      <div class="aboutPictureBorder"></div>
    </div>
  </div>
  <div class="arrow">
    <img src=" assets/images/arrow_left.png" alt="" data-aos="fade-down-left" data-aos-duration="700">
  </div>
</section>