@import "./../../../styles.scss";
.wrapper {
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 8px;
  > img {
    width: 200px;
  }
}
.wrapperProjects {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 64px;
  > div:nth-last-child(1) {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    > img {
      width: 100%;
      height: auto;
      display: block;
      padding-right: 14px;
      padding-bottom: 14px;
    }
  }
  > span {
    text-align: end;
    font-size: 28px;
    font-weight: bold;
  }
  > img {
    width: 100%;
    max-width: 550px;
  }
  h3 {
    font-size: 48px;
    font-weight: 800;
    // color: $orange;
    @media (max-width: 500px) {
      font-size: 36px;
    }
  }
  > div h2 {
    font-size: 28px;
    color: $orange;
  }
  @media (min-width: 850px) {
    flex-direction: row;
    justify-content: space-around;
  }
  @media (max-width: 850px) {
    align-items: center;
  }
}

.reverse {
  flex-direction: row-reverse;
  @media (max-width: 850px) {
    flex-direction: column;
  }
}

.projectImage {
  position: relative;
  width: 100%;
  // max-width: 600px;
  // max-height: 500px;
  > img {
    width: 100%;
    height: auto;
    display: block;
    padding-right: 17px;
    padding-bottom: 17px;
  }
  @media (min-width: 550px) {
    width: 550px;
    // min-height: 600px;
  }
}

[data-aos="gray-animation"] {
  filter: grayscale(1);
  // transition-property: filter;

  &.aos-animate {
    filter: grayscale(0);
  }
}

.projectImageBorder {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 93%;
  height: 93%;
  border: 4px solid black;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  > img {
    position: absolute;
    top: 40%;
    right: -25px;
    // width: 64px;
    // height: 64px;
  }
  &:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  &:hover img {
    rotate: 226deg;
    transition: rotate 0.2s ease-in-out;
  }
  @media (min-width: 550px) {
    width: 98%;
    height: 98%;
  }
}

.mirror {
  @media (min-width: 850px) {
    transform: scale(-1, 1);
    top: 2%;
    left: -3%;
  }
}

.wrapperProject {
  // display: flex;
  // flex-direction: column;
  // gap: 16px;
  > span {
    display: block;
    text-align: end;
    font-size: 48px;
    font-weight: 700;
    @media (max-width: 550px) {
      font-size: 36px;
    }
  }
  > div:nth-last-child(1) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.wrapperButton {
  display: flex;

  gap: 16px;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  // min-width: 213px;
  // height: 68px;
  padding: 16px 40px;
  background-color: transparent;
  border-style: unset;
  border: 4px solid $black;
  font-family: "Overpass", sans-serif;
  font-size: 23px;
  transition: all 0.2s ease-in-out;
  &:hover {
    padding: 16px 48px;
    font-weight: 700;
  }
  @media (max-width: 420px) {
    padding: 14px 18px;
    &:hover {
      padding: 16px 20px;
      font-weight: 700;
    }
  }
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  @media (min-width: 850px) {
    justify-content: end;
    padding-right: 140px;
  }
  > img {
    width: 100%;
    max-width: 200px;
  }
}
