@import "./../../../styles.scss";

.wrapper {
  // max-width: 300px;
  height: 320px;
  background-color: #fffcf3;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 12px;

  > p {
    font-size: 20px;
  }
}

button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 213px;
  height: 68px;
  background-color: transparent;
  border-style: unset;
  border: 4px solid $black;
  font-family: "Overpass", sans-serif;
  font-size: 23px;
  transition: all 0.2s ease-in-out;
  &:hover {
    padding: 16px 40px;
    color: $white;
    font-weight: 700;
    background-color: $orange;
  }
}
