<section class="wrapper" data-aos="fade-down">
  <div class="container">
    <div class="linkContainer" data-aos="fade-right" data-aos-delay="50">
      <a (click)="navigate('aboutme')">
        <h1>{{'aboutMenu' | translate}}</h1>
      </a>
      <div></div>
    </div>
    <div class="linkContainer" data-aos="fade-left" data-aos-delay="100">
      <a (click)="navigate('myskills')">
        <h1>{{'skilltMenu' | translate}}</h1>
      </a>
      <div></div>
    </div>
    <div class="linkContainer" data-aos="fade-right" data-aos-delay="150">
      <a (click)="navigate('portfolio')">
        <h1>Portfolio</h1>
      </a>
      <div></div>
    </div>
  </div>
  <div class="bottom">
    <div class="responsive-diagonal"></div>
    <h1 (click)="navigate('contact')">Say hi!</h1>
    <div class="footer-wrapper">
      <app-footer></app-footer>
    </div>
  </div>
</section>